.input-field:not(:first-child) input,
.input-field:not(:first-child) input + span,
footer i {
    color: #e0e0e0 !important;
}

.input-field:not(:first-child) input {
    border-bottom: 1px dotted #505050 !important;
}

.input-field .counter {
    float: right;
    font-size: 13px;
}

.input-field input,
mono {
    font-family: "Courier New", monospace;
}

*[class*=grey-text] {
    font-weight: bold;
}

.material-tooltip {
    text-align: inherit;
}

.brand-logo {
    font-family: 'Skranji', cursive;
    margin-left: 0.5em;
}