<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
          integrity="sha256-tKn8A2U9uuN5rPr3gh4A9FYMJkarrzLVyks7aS/ZfBU=" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.css"-->
    <!--integrity="sha256-7biA04iYPD7pdGygJZMyQR0Re8UjwLNe5Q+0HjFlYzk=" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="css/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base N Converter</title>
</head>

<body class="grey darken-4">
<main id="app">
    <div class="row">
        <div class="input-field col offset-s1 s10 offset-xl2 xl8 card grey lighten-3">
            <span class="card-title">{{input.title}}</span>
            <input type="text" :title="input.title" v-model="input.value" @input="update">
            <span class="counter">{{input.count}}</span>
        </div>
        <template v-for="(v, k) in output">
            <div class="col s4">
                <div class="grey-text">{{v.title}}</div>
                <template v-for="(vv, kk) in v.to">
                    <div class="input-field inline col s12">
                        <span class="grey-text">{{vv.title}}</span>
                        <input type="text" :title="vv.title" v-model="vv.value" readonly>
                        <span class="counter">{{vv.count}}</span>
                    </div>
                </template>
            </div>
        </template>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"
        integrity="sha256-TaLceMwjWRqe4yhbqPOJH6V7UGt5AvvdNfpaIXJWbFU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"
        integrity="sha256-W9FML0cw6SfScX3k0Z8iTWhaZGSEUrR3R3KWfRA6lnI=" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.js"-->
<!--integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"-->
<!--integrity="sha256-CMMTrj5gGwOAXBeFi7kNokqowkzbeL8ydAJy39ewjkQ=" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"-->
<!--integrity="sha256-ZeSciOAgb53o0Kk/fhVqmelLWfHkBOzlP6FjaeWn2Ys=" crossorigin="anonymous"></script>-->
<script src="js/custom.js"></script>
</body>
</html>